<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vladislav's Personal Sile</title>
    </head>

    <body>
        <table cellspacing="20">
            <tr>
                <td><img src="static/vlad.jpg" alt="El Vladi" width="200" height="200"></td>
                <td><h1>Vladislav Bochkov</h1>
                <p><em>Founder and Admin of <strong><a href="https://disenbol.site/">Disenbol</a></strong></em></p>
                <p>I like eating bread and <a href="https://www.google.com/search?q=pizza">pizza</a> with a lot of cheese
                and different types of cheese.</p></td>
            </tr>
        </table>
        <hr>
        <h3>Education</h3>
        <ul>
            <li>Finance Crash Course</li>
            <li>CCNA</li>
            <li>Alexander Von Humboldt (SCZ)</li>
            <li>App Brewery</li>
        </ul>
        <hr>
        <h3>My hobbies</h3>
        <ol type="I">
            <li>Eating Pizza</li>
            <li>Studying Python using Pycharming tools</li>
            <li>Playing League Of Legends as Jungler (Zac Simp 4 EVER)</li>
        </ol>
        <table>
            <thead>
                <tr>
                    <th>Dates</th>
                    <th>Work</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2010-2013</td>
                    <td>Admin of Riot Games</td>
                </tr>
                <tr>
                    <td align="right">2014</td>
                    <td>Meme page Admin</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h3>Skills</h3>
        <table cellspacing="20`">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>CCNA</td>
                            <td>⭐⭐⭐⭐⭐</td>
                        </tr>
                        <tr>
                            <td>HTML</td>
                            <td>⭐⭐⭐⭐</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>Python</td>
                            <td>⭐⭐⭐⭐⭐</td>
                        </tr>
                        <tr>
                            <td>Veterinary</td>
                            <td>⭐⭐⭐⭐</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <hr>
        <a href="contact.html">Contact me</a>
    </body>
</html>