<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vladislav Bochkov</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="static/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="top-container">
      <img src="static/images/cloud.png" alt="cloud-image" class="top-cloud">
      <h1>I'm Vlad</h1>
      <p style="font-size: 26px;">a <span class="pro">pro</span>grammer.</p>
      <img src="static/images/cloud.png" alt="cloud-image" class="bottom-cloud">
      <img class="mountain-img" src="static/images/mountain.png" alt="mountain-image">
    </div>
    <div class="middle-container">
      <div class="profile">
       <img class="vlad-img" src="static/images/vlad.jpg" alt="photo-of-vlad">
       <h2>Haro, I sniki sniki ninja</h2>
       <p>I'm a Programmer with 1000+ IQ 😎 who likes pizza with a lot of cheese and play video games.</p>
    </div>
  <hr>
    <div class="skills">
    <h2 style="text-decoration: underline;">My Skills</h2>
    <div class="skill-row">
      <img class="pc-img" src="static/images/computer.png" alt="computer-image">
      <h3>Python Developer</h3>
      <p>My main skill is Python, I program with it lots of stuff!</p>
    </div>
    <div class="skill-row">
      <img class="ccna-img" src="static/images/ccna.png" alt="ccna-image">
      <h3>CCNA - Routing and Switching</h3>
      <p>I'm a certified Network Engineer</p>
    </div>
    <div class="skill-row">
      <img class="pizza-img" src="static/images/pizza.png" alt="pizza-image">
      <h3>Pizza-Eater 3000</h3>
      <p>But of course my main skill is to eat pizza daily.</p>
    </div>
  </div>
  <hr>
    <div class="contact-me">
    <h2 style="text-decoration: underline;">Get In Touch</h2>
    <h3>If you like pizza just like me</h3>
    <p>Write something to me</p>
    <a class="BUTTON_XAL" href="mailto:vladitrolo23@gmail.com">Send a Mail</a>
    </div>
  </div>

  <div class="bottom-container">
    <a class="footer-link" href="https://bo.linkedin.com/in/vladislav-bochkov-0825791a9">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/disenbol">Twitter</a>
    <a class="footer-link" href="https://www.disenbol.site/">Website</a>
    <p style="margin-top: 20px;">© 2022 Mr. Bochkov</p>
  </div>

  </body>
</html>